<div class="container row col-12 flex justify-content-center align-middle" style="height: max-content;">
    <img src="../../../assets/FPh7kt9_1.svg" class="w-50 pb-5" style="padding: 3em;">
</div>
<div class="container row col-12 flex justify-content-center align-middle" style="height: max-content;">
    <img src="../../../assets/282988.svg" class="w-50 pb-5" style="padding: 3em;">
</div>
<div class="container row col-12 flex justify-content-center align-middle" style="height: max-content;">
    <img src="../../../assets/FPh7kt9.jpg" class="w-50 pb-5" style="padding: 3em;">
</div>
