<div class="card">
    <div class="card-header">
        <h3>{{ tituloPagina + ': ' +auto?.marca + ' ' + auto?.modelo }}</h3>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 container">
                <div class="row" style="margin-top: 7em">
                    <div class="col">
                        <label>Marca:</label>
                    </div>
                    <div class="col">
                        {{auto?.marca}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Modelo:</label>
                    </div>
                    <div class="col">
                        {{auto?.modelo}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Año:</label>
                    </div>
                    <div class="col">
                        {{auto?.anio}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Color:</label>
                    </div>
                    <div class="col">
                        {{auto?.color}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Kilómetros:</label>
                    </div>
                    <div class="col">
                        {{auto?.kilometros | number}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Precio:</label>
                    </div>
                    <div class="col">
                        {{auto?.precio | currency}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Calificación:</label>
                    </div>
                    <div class="col">                        
                        <estrellas
                                    [calificacion]="auto.calificacion">
                        </estrellas>
                    </div>
                </div>
                <button class='btn btn-outline-primary' style="width:10em;float: right;" (click)="onComprar()">Comprar
                </button>
            </div>
            <div class="col-6 container">
                <div id="carouselAutos" class="carousel slide" data-bs-ride="carousel"
                     style="margin-top: 2em;margin-bottom: 2em; width: 35em">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <h3 style="color: blue;">Su Selección Actual: {{auto.marca}} {{auto.modelo}}</h3>
                          <img [src]="auto.imagenUrl" class="d-block w-100" alt="auto.modelo">
                        </div>
                      <div class="carousel-item">
                         Porsche Taycan
                        <img src="../../../assets/1_Porsche_Taycan.webp" class="d-block w-100" alt="Porsche Taycan">
                      </div>
                      <div class="carousel-item">
                        Tesla Model3
                        <img src="../../../assets/2_Tesla_Model3.webp" class="d-block w-100" alt="Tesla Model3;">
                      </div>
                      <div class="carousel-item">
                        Hyunday Ioniq5
                        <img src="../../../assets/3_Hyundai_Ioniq5.webp" class="d-block w-100" alt="Hyunday Model3;">
                      </div>
                      <div class="carousel-item">
                        Audi e-tronGT
                        <img src="../../../assets/4_Audi_etronGT.webp" class="d-block w-100" alt="Audi e-tronGT;">
                      </div>
                      <div class="carousel-item">
                        Mustang Mach-E
                        <img src="../../../assets/9_Ford_Mustang_MachE.webp" class="d-block w-100" alt="Mustang Mach-E;">
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button class='btn btn-outline-secondary' style="width:110px" (click)="onBack()">
            Regreso
        </button>
    </div>
</div>
